@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a pizza site.</p>
    <p>Call this number here for free pizza --> (221)546-2981</p>
    <p>Go check out the privacy here if needed <a href="https://localhost:7040/Privacy"> " privacy " </a> for more info on ordering.</p>
</div>