@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy, what the hell is privacy?";
}
<h1>@ViewData["Title"]</h1>
<p>I aint filling this out.</p>
<p>Just order the pizza lmao <a href="https://localhost:7040/"> " here " </a> for a free pizza.</p>
